<footer class="sigma_footer style-5 pb-0">
  <div class="sigma_footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="sigma_footer-widget">
            <div class="sigma_footer-logo mb-1">
              <h4> Compo </h4>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sigma_footer-widget">
            <h5 class="widget-title">Services</h5>
            <ul class="sigma_footer-links">
              <!-- Data -->
              <li>
                <a routerLink="#">Home</a>
              </li>
              <li>
                <a routerLink="#">About</a>
              </li>
              <li>
                <a routerLink="#">Contact</a>
              </li>
              <li>
                <a routerLink="/product-details">Products</a>
              </li>
              <li>
                <a routerLink="product-details">Product Details</a>
              </li>
              <!-- Data -->
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sigma_footer-widget">
            <h5 class="widget-title">Lorem Ipsum</h5>
            <ul class="sigma_footer-links">
              <li>
                <a routerLink="#">Home</a>
              </li>
              <li>
                <a routerLink="#">About</a>
              </li>
              <li>
                <a routerLink="#">Contact</a>
              </li>
              <li>
                <a routerLink="/product-details">Products</a>
              </li>
              <li>
                <a routerLink="product-details">Product Details</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sigma_footer-widget">
            <h5 class="widget-title">Lorem Ipsum</h5>
            <ul class="sigma_footer-links">
              <li>
                <a routerLink="#">Home</a>
              </li>
              <li>
                <a routerLink="#">About</a>
              </li>
              <li>
                <a routerLink="#">Contact</a>
              </li>
              <li>
                <a routerLink="/product-details">Products</a>
              </li>
              <li>
                <a routerLink="product-details">Product Details</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sigma_footer-bottom d-block d-sm-flex align-items-center justify-content-between">
      <div class="sigma_footer-copyright mt-0 mb-3 mb-sm-0">
        <p class="mb-0">© Website
          <a href="#">2024</a>
          | All Rights Reserved
        </p>
      </div>
      <ul class="sigma_footer-links">
        <li>
          <a routerLink="#">Home</a>
        </li>
        <li>
          <a routerLink="#">About</a>
        </li>
        <li>
          <a routerLink="#">Contact</a>
        </li>
        <li>
          <a routerLink="/product-details">Products</a>
        </li>
        <li>
          <a routerLink="product-details">Product Details</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
