<div class="sidebar-style-9 service-details">
  <div class="section sigma_post-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 pt-5">
          <div class="sigma_post-details-inner mb-md-80">
          <h4 class="entry-title">{{product.name}}</h4>
            <div class="entry-content">
              <img [src]="product.image" [alt]="product.name" class="w-100">
              <div class="row">
                <div class="col-md-4">
                  <ngx-slick-carousel class="profile-slider" [config]="slickCarouselConfig">
                    <div ngxSlickItem class="col-lg-2 col-md-3 col-sm-3" *ngFor="let image of images">
                      <img [src]="image" alt="sneaker">
                    </div>
                  </ngx-slick-carousel>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 pt-5">
          <div class="row">
            <div class="col-lg-6">
              <div class="order-test">
                <div>
                  <h5 class="order-test-title">{{ 'Price: ' + product.price }}</h5>
                  <div class="p-2">
                    <p>Vivamus suscipit tortor.</p>
                    <p>Vivamus suscipit tortor.</p>
                    <p>Vivamus suscipit tortor.</p>
                    <div class="d-flex align-items-center">
                      <button class="sigma_btn btn-sm" (click)="removeFromCart(product)" *ngIf="isTestInCart(product)">
                        <i class="fas fa-minus"></i>
                      </button>
                      <span class="mx-2">{{ totalPriceInCart > 0 ? totalPriceInCart : 'BUY' }}</span>
                      <button class="sigma_btn btn-sm" (click)="addToCart(product)">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="order-test">
                <div>
                  <h5 class="order-test-title">Lorem Ipsum</h5>
                  <div>
                    <p>Vivamus suscipit tortor.</p>
                    <p>Vivamus suscipit tortor.</p>
                    <p>Vivamus suscipit tortor.</p>
                    <p>Vivamus suscipit tortor.</p>
                    <p>Vivamus suscipit tortor.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pt-5" [innerHtml]="product.description"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
