header {
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;

    .badge {
      display: inline-block;
      position: relative;
      border-radius: 50%;
      width: 60px;
      height: 24px;
      font-size: 14px;
      letter-spacing: -1px;
    }
  }
}
